.team-member-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 49, 100, 0.97);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  overflow: auto;
}

.popup-content {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  max-width: 975px;
  max-height: 90%;
  overflow-y: auto;
  padding: 20px;
}

.left-column {
  width: 100%;
  max-width: 300px;
  padding-right: 20px;
  margin-bottom: 20px;
}

.left-column img {
  width: 100%;
  height: auto;
}

.right-column {
  flex: 1;
  text-align: left;
  color: #fff;
}

.right-column h2 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 0;
}

.right-column h4 {
  color: #e3ecff;
  font-weight: 300;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.contact-item {
  display: flex;
  align-items: center;
  padding-right: 15px;
}

.contact-item img {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.contact-item p,
.contact-item a {
  text-decoration: underline;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
}

.bio {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  color: #e3ecff;
  margin-top: 40px;
}

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  padding: 0 20px;
}

.navigation-buttons button {
  background: none;
  border: none;
  color: #fff;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-buttons button .next-btn {
  margin-left: 20px;
}

.navigation-buttons button .prev-btn {
  margin-right: 20px;
}

.close-button {
  position: absolute;
  right: 140px;
  background: none;
  border: none;
  cursor: pointer;
}

.close-button img {
  width: 30px;
}

/* Media Query for Mobile */
@media (max-width: 767px) {
  .popup-content {
    width: 100%;
    padding: 25px;
  }
  
  .left-column {
    max-width: 100%;
    padding-right: 0;
    margin-bottom: 10px;
  }
  
  .right-column h2 {
    font-size: 20px;
  }
  
  .contact-item img {
    width: 16px;
    height: 16px;
  }
  
  .contact-item p,
  .contact-item a {
    font-size: 14px;
  }
  
  .bio {
    font-size: 12px;
  }

  .close-button {
    top: 10px;
    right: 10px;
  }
  
  .navigation-buttons {
    padding: 0 10px;
  }
}
