.team-member-card {
  padding: 40px;
}

.team-member-card:hover {
  background-color: #f0f1f1;
  transform: translateY(-2px);
}

.team-member-card-content {
  text-align: left;
}

.member-name {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.member-name h2 {
  margin: 0;
  color: #103164;
  font-size: 30px;
  font-weight: 400;
}

.member-name .arrow-icon {
  margin-left: 10px; /* Adjust margin as needed */
}

.team-member-card-content p {
  color: #646367;
}

.team-member-card-content img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .team-member-card {
    padding: 20px; /* Adjust padding for mobile */
  }

  .member-name h2 {
    font-size: 24px; /* Adjust font size for mobile */
  }
}
